.bordered-row {
    border-bottom: 2px solid black;
}

#top_row {
    margin-top: 1%
}

div.error-message {
    background-color: #ff7686;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.base-link {
    color: black;
}
.base-link:hover {
    color: black;
}

.nav-group {
    overflow: auto;
}
.nav-group-footer {
    clear: left;
    height: 0;
}
.nav-item {
    text-align: center;
    width:20%;
    height:65px;              
    float: left;
    color: black;
}
.nav-item:hover {
    text-align: center;
    width:20%;
    height:65px;              
    float: left;
    background-color: #efefef;
    cursor: pointer;   
}
.nav-item.active {
    background-color: #ccccbb
}

.request-table {
    width: 100%;
}
.done-button {
    color: black;
    font-size: 28px;
    background-color: #ccccbb;
}
.done-button:hover{
    color: black;
    background-color: #969686; 
}
.cancel-button {
    color: black;
    font-size: 28px;
    background-color: #ff7686;
}
.cancel-button:hover {
    color: black;
    background-color: #fe5b6e;
}

.form-label{
    font-size: 18px;
    font-weight: normal;
}