{% extends "_l_6x6.html" %}

{% block title %}{{ block.super }} | Home{% endblock title %}

{% block content-left %}
  <h2>Personal Info</h2>
  <h4>First Name</h4>
    <p>{{ object.first_name }}</p>
  <h4>Last Name</h4>
    <p>{{ object.last_name }}</p>
  <h4>Date of Bitrh</h4>
    <p>{{ object.birth_date|date:"M d, Y" }}</p>
  <h4>Bio</h4>
    <p>{{ object.bio | linebreaks }}</p>	
{% endblock content-left %}

{% block content-right %}
  <h2>Contacts</h2>
  <h4>Email</h4>
    <p>{{ object.email }}</p>
  <h4>Jabber</h4>
    <p>{{ object.jabber }}</p>
  <h4>Skype</h4>
    <p>{{ object.skype }}</p>
  <h4>Other contacts</h4>
  <p>{{ object.other_contacts | linebreaks}}</p>  
{% endblock content-right %}