{% extends "_l_6x6.html" %}

{% block content-left %}
  <h2>Personal Info</h2>
  <h4>First Name</h4>
    <p>Paul</p>
  <h4>Last Name</h4>
    <p>Pukach</p>
  <h4>Date of Bitrh</h4>
    <p>June 25, 1996</p>
  <h4>Bio</h4>
    <p>My name is Paul, and I am an applied mathematician.
  My hobby is developing web-applications.</p>	
{% endblock content-left %}

{% block content-right %}
  <h2>Contacts</h2>
  <h4>Email</h4>
    <p>pavlopukach@gmail.com</p>
  <h4>Jabber</h4>
    <p>icebreaker454@khavr.com</p>
  <h4>Skype</h4>
    <p>shoker2506</p>
  <h4>Other contacts</h4>
  <p>Phone: +380963699598</p>  
{% endblock content-right %}