{% extends "__base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block loader %}
	<div class="loader">
		<div class="sk-cube-grid">
		  <div class="sk-cube sk-cube1"></div>
		  <div class="sk-cube sk-cube2"></div>
		  <div class="sk-cube sk-cube3"></div>
		  <div class="sk-cube sk-cube4"></div>
		  <div class="sk-cube sk-cube5"></div>
		  <div class="sk-cube sk-cube6"></div>
		  <div class="sk-cube sk-cube7"></div>
		  <div class="sk-cube sk-cube8"></div>
		  <div class="sk-cube sk-cube9"></div>
		</div>
	</div>
{% endblock loader %}

{% block errors %}
  <div class="row bordered-row" id="warning" style="display: none;">
    <div class="col-sm-12 error-message">
      <h4 id="warning-text"></h4>
    </div>
  </div>
{% endblock %}
{% block messages %}
  <div class="row bordered-row" id="message" style="display: none;">
    <div class="col-sm-12 status-message">
      <h4 id="message-text"></h4>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock content %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
{% endblock extra_head %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/dist/jquery-forms.min.js' %}"></script>
  <script src="{% static 'js/update.js' %}"></script>
{% endblock js %}

