{% extends "__base.html" %}

{% block content %}
  <div class="col-sm-12">
    <h3>Last 10 HTTP requests</h3>
    <table class="table table-hover request-table">
      <thead>
          <th class="th-number">No.</th>
          <th class="th-path">Path</th>
          <th class="th-date">Date</th>
          <th class="th-method">Method</th>
      </thead>
      <tbody>
        {% for request in requests %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ request.path }}</td>
              <td>{{ request.date|date:"Y-m-d H:m:s" }}</td>
              <td>{{ request.method }}</td>
          </tr>  
        {% endfor %}
      </tbody>
    </table>
  </div>  
{% endblock content %}