{% extends "__base.html" %}

{% load staticfiles %}

{% block title %}
  {{ block.super }} | Requests
{% endblock title %}

{% block errors %}
  {% if not requests %}
    <div class="row bordered-row" id="warning">
      <div class="col-sm-12 error-message">
        <h4>Sorry, but there are no Requests by now</h4>
      </div>
    </div>
  {% endif %}
{% endblock errors %}

{% block content %}
{% if requests %}
  <div class="col-sm-12">
    <h3>Last 10 HTTP requests</h3>
    <table
      class="table table-hover request-table js-requests"
      data-notification-url="{% url 'rq_notifications' requests.0.id %}">
      <thead>
          <th class="th-number" width="3%">No.</th>
          <th class="th-path" width="25%">Path</th>
          <th class="th-date" width="15%">Time</th>
          <th class="th-useragent" width="30%">User Agent</th>
          <th class="th-method" width="10%">Method</th>
          <th class="th-secure"wifth="9%">Is Secure?</th>
          <th class="th-ajax"width="3%">AJAX?</th>
      </thead>
      <tbody>
        {% for request in requests %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td class="js-item js-path">{{ request.path }}</td>
            <td class="js-item js-time">{{ request.time|date:"Y-m-d H:i:s" }}</td>
            <td class="js-item js-useragent">{{ request.user_agent }}</td>
            <td class="js-item js-method">{{ request.method }}</td>
            <td class="js-item js-issecure">{{ request.is_secure|yesno:"+,-" }}</td>
            <td class="js-item js-isajax">{{ request.is_ajax|yesno:"+,-" }}</td>
          </tr>  
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/request_notification.js' %}"></script> 
{% endblock js %}